<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swimClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestorePropostaAbilita</display-name>
    <servlet-name>TestSingoliMetodiGestorePropostaAbilita</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestorePropostaAbilita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestorePropostaAbilita</servlet-name>
    <url-pattern>/TestSingoliMetodiGestorePropostaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreAmicizia</display-name>
    <servlet-name>TestSingoliMetodiGestoreAmicizia</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreAmicizia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreAmicizia</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreAmicizia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreAiuto</display-name>
    <servlet-name>TestSingoliMetodiGestoreAiuto</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreAiuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreAiuto</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreAiuto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreProfilo</display-name>
    <servlet-name>TestSingoliMetodiGestoreProfilo</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreProfilo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreProfilo</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreProfilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreFeedback</display-name>
    <servlet-name>TestSingoliMetodiGestoreFeedback</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreFeedback</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreAbilita</display-name>
    <servlet-name>TestSingoliMetodiGestoreAbilita</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreAbilita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreAbilita</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreUser</display-name>
    <servlet-name>TestSingoliMetodiGestoreUser</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreUser</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreAdmin</display-name>
    <servlet-name>TestSingoliMetodiGestoreAdmin</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreAdmin</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrazione</display-name>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>servlet.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSingoliMetodiGestoreDichiarazione</display-name>
    <servlet-name>TestSingoliMetodiGestoreDichiarazione</servlet-name>
    <servlet-class>servlet.TestSingoliMetodiGestoreDichiarazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSingoliMetodiGestoreDichiarazione</servlet-name>
    <url-pattern>/TestSingoliMetodiGestoreDichiarazione</url-pattern>
  </servlet-mapping>
</web-app>