@CHARSET "ISO-8859-1";

#pagina {
	border: 1px solid grey;
	border-radius: 10px;
	overflow: auto;
	width: 900px;
	margin: auto;
	margin-top: 30px;
}

#logo {
	text-align: center;
	margin-top: 15px;
}

#boxLeft, #boxRight {
	border: 1px solid grey;
	border-radius: 10px;
	width: 350px;
	float: right;
	padding: 10px;
	padding-right: 15px;
	margin: 30px;
	background-color: #CFE7F5;
}

#boxLeft {
	float: left;
}

#boxRight {
	float: right;
}

#titoloBox {
	border: 1px solid grey;
	border-radius: 5px;
	text-align: center;
	background-color: #FFFF99;
}

#informazioniBox {
	text-align: right;
}

#informazioniBox input, select {
	width: 220px;
}