@CHARSET "ISO-8859-1";

body {
	font-family: Arial;
}

#pagina {
	border: 1px solid grey;
	border-radius: 20px;
	overflow: auto;
	width: 900px;
	margin: auto;
	margin-top: 30px;
	padding: 15px;
}

#logo {
	text-align: center;
}

#boxLeft, #boxRight {
	border: 1px solid grey;
	border-radius: 15px;
	width: 360px;
	padding: 10px;
	margin: 15px;
	background-color: #CFE7F5;
}

#boxLeft {
	float: left;
}

#boxRight {
	float: right;
}

#titoloBox {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	background-color: #FFFF99;
	font-style: italic;
	font-weight: bold;
}

#informazioniBox {
	text-align: right;
	margin-right: 15px;
}

#informazioniBox input, select {
	width: 220px;
}

#pulsante {
	width: 150px;
	height: 30px;
	font-weight: bold;
}